@import url("./calsans/fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Default state: transparent underline */
.nav-link {
  border-bottom: 2px solid transparent;
  color: #6b7280; /* Default text color */
  transition: border-bottom-width 0.3s ease, border-color 0.3s ease;
}

/* Active link state: visible underline and active text color */
.nav-link[aria-current="page"] {
  border-bottom: 2px solid #3b82f6; /* Active underline color */
  color: #e5e7eb; /* Active text color */
}

.apexcharts-tooltip {
  background: transparent;
  background-color: transparent;
}
.apexcharts-theme-light {
  background: transparent;
  background-color: transparent;
}
.apexcharts-theme-dark {
  background: transparent;
  background-color: transparent;
}

.charts-active {
  background-color:transparent;
}

.apexcharts-tooltip.apexcharts-theme-light {
  background: transparent;
  background-color: transparent;
}

@layer components {
  .container{
      @apply max-w-7xl;
  }
  .card {
      @apply rounded-md shadow-md bg-white relative;
  }
  .card-body {
      @apply p-6;
  }
  .hs-dropdown-menu{
      @apply  shadow-md bg-white relative rounded-md;  
  }

  .btn{
      @apply rounded-md bg-blue-600 text-white text-sm py-2 px-4 text-center;
  }
  .btn-outline-primary{
      @apply rounded-md border border-blue-600 text-blue-600 text-sm py-2 px-4 text-center;
  }
}